/* 
 css/styles.css 
 Student Name: Yaqeen Nizar Ashour
 Student Id: 12429716
*/


:root {
    --bg: #faf7f2;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}


body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
}

.site-header {
border:1px solid white;
background-color: white;
padding:10px;
display:flex;
justify-content: space-between;
}
.site-header nav {
    display:flex;
    flex-direction: row;
    gap:20px;
}
a{
    text-decoration: none;
    color: rgb(13, 105, 86);
    font-weight: bold;
    
   
}
nav a:hover, nav a:focus {
  color: #a0178c;       
}
h4{
    color: rgb(12, 113, 105);
    margin:0px;
text-align: left;
    
    }
.hero{
    border:1px solid black;
    padding-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../images/bg.jpg');
background-position: center;
} 
.hero button:hover,button:focus {
  background-color: #012d22;
}

.hero h5{
    display: inline;
    color: rgb(12, 113, 105);
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 1px;
    margin-right:auto;
    padding:10px;
    text-align: center;
    font-weight: bold;
    border:1px solide black;
border-radius:40px;
background-color: rgb(67, 134, 105);
color:rgb(3, 38, 3);
}
.hero h1{     
    margin-left:auto;
    margin-right:auto;
   margin-top: 1px;
   margin-bottom: 5px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}
.hero p{
    
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 3px;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.hero button { 
   
  max-width: 120px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    padding-top:15px;
    padding-bottom: 15px;
    background-color: rgb(7, 91, 84);
    border:1px solid rgb(9, 121, 91);
    border-radius: 30px;
    
    
}
.hero button a{
font-size: 15px;
color:white;
font-weight: bold;
    }

.about{
    display: flex;
    flex-direction: row;
   max-width: 1130px;
   margin:auto;

}

.Mains h6 , .DS h6, .mezze h6{
  border-bottom : 1px dashed rgb(221, 216, 216);
  padding-bottom: 10px;
}
.box1 h2, .box2 h2{
      margin: 0px;
      padding-top: 20px;
      text-align:left;
 
  }
.box1, .box2 {
flex:1;
gap:10px;
display: flex;
flex-direction: column;
border:1px solid rgb(229, 222, 222);
border-radius: 20px;
margin:20px; 
padding:0px;
padding-left: 10px;

background-color: white;
}
 .box1 p, .box2 p{
     margin: 0px;
    text-align:left;

}
  .box1 .H{
    display:flex; 
    margin:0px;
    flex-direction: row;
     gap:15px;
     color:#676767;
    
  }
  .box1 .H h5{
            border:1px solid rgb(228, 227, 227);
           padding: 4px;
           border-radius: 20px;

    }
  #menu{
    gap:10px;
    display: flex;
    flex-direction: row;
justify-content: center;
  }
   h2{
    margin-left:200px;
    font-family: 'Rubik';
  }
  #menu .mezze,#menu .Mains,#menu .DS {
    border:2px solid rgb(241, 239, 239);
    border-radius:20px;
    background-color: #ffffff;
    width: 330px;
    padding: 20px;
    height: 350px;
    
  }
  #menu .mezze h3,#menu .Mains h3,#menu .DS h3{
    padding-left:0px;
    
    margin-top: 0px;
    margin-bottom: 16px;
  }
  #menu .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

#menu .item p {
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  
  
}

#menu .item .price {
  font-weight: bold;
  font-size: 16px;
  color: #178318;
}
  
#menu h6{
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(177, 175, 175);
    font-size: 12px;
}
#hours {
  display: flex;
    flex-direction: row;
   max-width: 1130px;
   margin:auto;
}
 .hours , .reserve{

flex:1;
gap:10px;
display: flex;
flex-direction: column;
border:1px solid rgb(229, 222, 222);
border-radius: 20px;
margin:20px; 
padding:0px;
padding-left: 10px;

background-color: white;

 
}
.hours h2 , .reserve h2{
      padding-top: 20px;
      margin: 0px;
      text-align:left;
  }
.hours p{
 margin: 10px;
 display: flex;
justify-content: space-between;
border-bottom: 1px dashed rgb(221, 216, 216);

}
  

#find-us{
  display: flex;
  flex-direction: row;
    max-width: 1130px;
    margin:auto;
    
}

.find {
height: 300px;
width: 680px;
gap:10px;
display: flex;
flex-direction: column;
border:1px solid rgb(229, 222, 222);
border-radius: 30px;
margin-right:10px; margin-left: 10px; margin-top: 20px; margin-bottom: 20px;
padding:0px;
padding-left: 10px;
background-color: white;


}
  
.find h2{
      margin: 0px;
      padding-top: 20px;
      text-align:left;
 
  }
.img img{
  
  border-radius:  30px;
margin:20px; 
padding:0px;
padding-left: 10px;
}

.site-footer  p {
    text-align: center;
    padding: 10px;
    color: rgb(117, 114, 114);
padding: 15px;
  border-top:1px dashed rgb(181, 175, 175);
}








    @media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .about, #hours, #find-us {
    flex-direction: column;
    align-items: center;
  }
  #menu {
    flex-direction: column;
    align-items: center;
  }

  .box1, .box2, .hours, .reserve, .find {
    width: 90%;
    max-width: 400px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .img img {
    width: 90%;
    height: auto;
    
  }

  h2 {
    margin-left: 0;
    text-align: center;
    margin:0px;
  }
}

  